@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  background-color: #fd8a8a;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "box1 box2 box3 box3"
    "box4 box5 box6 box7"
    "box4 box8 box6 box7";
  grid-gap: 1.5rem;
  padding: 50px;
}

.box {
  width: auto;
  border-radius: 25px;
  overflow: hidden;
  transition: all 0.8s;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box1 {
  background-color: #fefefe;
  grid-area: box1;
}

.box1 p {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #698269;
}

.box1:hover {
  transform: translateY(10px);
  transition: all 0.5s ease;
  opacity: 0.6;
}

.box2 {
  background-color: #a8d1d1;
  grid-area: box2;
}

.box2 p {
  color: white;
}

.box2:hover {
  transform: translateY(10px);
  transition: all 0.5s ease;
  opacity: 0.6;
}

.box3 {
  background-color: #9ea1d4;
  grid-area: box3;
}

.box3:hover {
  transform: translateY(10px);
  transition: all 0.5s ease;
  opacity: 0.6;
}

.box3 p {
  color: white;
}

.box4 {
  background-color: #a8d1d1;

  background-size: 500px;

  grid-area: box4;
}

.box4 .rocket {
  align-items: center;
  height: auto;
  width: 70%;
}

.box4:hover {
  transform: translateY(10px);
  transition: all 0.5s ease;
  opacity: 0.6;
}

.box5 {
  background-color: #a8d1d1;
  grid-area: box5;
}

.box5:hover {
  transform: translateY(10px);
  transition: all 0.5s ease;
  opacity: 0.6;
}

.box5 p {
  color: white;
}
.box6 {
  background-color: #f1f7b5;
  grid-area: box6;
}

.box6:hover {
  transform: translateY(10px);
  transition: all 0.5s ease;
  opacity: 0.6;
}

.box6 p {
  color: white;
}

.box6 .heli {
  align-items: center;
  height: auto;
  width: 80%;
}

.box7 {
  background-color: #a8d1d1;
  grid-area: box7;
}

.box7 .blip {
  align-items: center;
  height: auto;
  width: 70%;
}

.box7:hover {
  transform: translateY(10px);
  transition: all 0.5s ease;
  opacity: 0.6;
}

.box8 {
  background-color: #9ea1d4;
  grid-area: box8;
}

.box8:hover {
  transform: translateY(10px);
  transition: all 0.5s ease;
  opacity: 0.6;
}

.box8 p {
  color: white;
}

.about {
  background-color: #9ea1d4;
}

iframe {
  position: absolute;
  top: 750px;
  right: -20px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.about {
  width: 100%;
  height: 100vh;
}
.about header .name {
  color: white;
  font-size: 70px;
  position: absolute;
  left: 100px;
  bottom: -200px;
}

.about header .me {
  font-size: 17px;
  color: white;
  position: absolute;
  left: 100px;
  bottom: -550px;
}
.about header .me .previous {
  position: relative;
  font-weight: 600;
  font-size: 20px;
  color: blueviolet;
  z-index: 10000;
}

span {
  color: black;
}

.about header .btn {
  text-decoration: none;
  transition: all 0.8s;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fd8a8a;
  color: white;
  font-size: 20px;
  position: relative;
  left: 100px;
  top: 570px;
  overflow: hidden;
  z-index: 10000;
}
.about::before {
  content: "";
  position: absolute;
  bottom: -713px;
  width: 100%;
  height: 100px;
  background: #9ea1d4;
  z-index: 1000;
}

.portfolio::before {
  content: "";
  position: absolute;
  bottom: -733px;
  width: 100%;
  height: 20px;
  background: #fd8a8a;
  z-index: 1000;
}
.portfolio {
  width: 100%;
  height: 100vh;
  align-items: center;

  background-color: #fd8a8a;
  height: 100vh;
}

.portfolio .title {
  position: relative;
  left: 100px;
  top: 80px;
}

.title2 {
  font-size: 50px;
  font-weight: 600;

  position: relative;
  left: 100px;
  top: 150px;
}

.description {
  position: relative;
  left: 100px;
  top: 200px;
}

.apple {
  text-decoration: none;
  transition: all 0.8s;
  display: inline-block;
  padding: 10px 10px;
  border-radius: 10px;
  width: 188px;
  background-color: white;
  position: relative;
  left: 100px;
  top: 100px;
  line-height: 20px;
}

.apple .ios {
  position: relative;
  left: 50px;
  font-size: 15px;
}
.App {
  position: relative;
  left: 50px;
  font-size: 15px;
  font-weight: 600;
}

.logo {
  width: 50px;
  position: absolute;
  left: 3px;
  top: 4px;
}

.samsung {
  text-decoration: none;
  transition: all 0.8s;
  display: inline-block;
  padding: 10px 10px;
  border-radius: 10px;
  width: 188px;
  background-color: white;
  position: relative;
  left: 120px;
  top: 100px;
  line-height: 20px;
}

.logo1 {
  width: 50px;
  position: absolute;
  left: 3px;
  top: 4px;
}

.samsung .android {
  position: relative;
  left: 50px;
  font-size: 15px;
}
.App1 {
  position: relative;
  left: 50px;
  font-size: 15px;
  font-weight: 600;
}

.macbook {
  position: absolute;
  right: 100px;
  top: 1630px;
}

.macbook .imgBx {
  position: absolute;
  top: 20px;
  left: 72px;
  width: 465px;
  height: 291px;
  background: url(images/page.png);
  background-position: top;
  background-size: 100%;
  transition: 13s;
}

.macbook:hover .imgBx {
  background-position: bottom;
}

.blob {
  width: 200px;
  position: relative;
  top: -200px;
  left: 860px;
}
